<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.test.tools.demo.tools.mapper.RegistStagesMapper">

    <resultMap id="TbRegistStagesMapper" type="com.test.tools.demo.tools.domain.RegistStages">
        <!-- column传数据库字段，property传实体类字段， 表中字段要对应实体类的字段-->
        <result column="id" property="id" jdbcType="VARCHAR"/>
        <result column="student_id" property="studentId" jdbcType="VARCHAR"/>
        <result column="student_uid" property="studentUid" jdbcType="VARCHAR"/>
        <result column="class_id" property="classId" jdbcType="VARCHAR"/>
    </resultMap>


    <!-- sql语句：id为方法名  -->
    <select id="queryParamsByRegistId" resultType="com.test.tools.demo.tools.domain.RegistStages" parameterType="java.lang.String">
        SELECT *  from tb_regist_stages where regist_id = #{registId,jdbcType=VARCHAR}
    </select>
</mapper>